<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.commentor %>:</strong>
          <%= comment.message %>
        </p>
      </div>
    </div>
  <%= comment.id %>
   <% if admin_user_signed_in? %>
     <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
 <% end %>
  </article>

</div>