<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.commentor %>:</strong>
          <%= comment.message %>
        </p>
      </div>
    </div>
  <%= comment.id %>
  <% if (current_admin_user.id==comment.admin_user_id || current_admin_user.id==comment.post.admin_user_id)  %>>
     <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
 <% end %>
  </article>

</div>