<footer class="footer">
        <div class="container">
            <span class="text-muted">All Right Reserved</span>
        </div>
    </footer>

<%=  content_for :css  do %>
 <style>
    .footer{
        background-color:#f5f5f5;
    }
    </style>
<% end %>
   